body{
    width : 100%; 
    overflow-x: hidden;
}

.photo{
    height : 3rem;
    width : 3rem;
    border-radius: 50%;
    
}

/* .all-unset{
    all : unset;
    cursor: pointer;
} */

.cursor-pointer{
    cursor : pointer;
}