@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
body{
    width : 100%;
    overflow-x: hidden;
}

.title{
    font-size: 1.2rem;
}
.company{
    font-size: 1.1rem;
}

.apply{
   
    margin:2rem 0;
    position: relative;
    left : 50%;
    transform: translate(-50%);
}

.deadline> span{
    text-decoration: underline;
}

.description{
    font-family: 'Open Sans';
}