/* .desc-profile{
    width : 80%;
   display: flex;
   align-items: center;
   
   margin-left: 10%;
}

.desc-profile textarea{
    display: inline block;
    height: 6rem;
    width : 40%;
    margin : auto;
}

.detached{
    width : 80%;
    margin : 2rem 10%;
} */