.form-container{
    min-width: 20vw;
    display: inline;
    border : 2px solid red;
    height: fit-content;
    padding: 0;
    height: 2rem;
}

.form-container > form{
    border : 2px solid blue;
}